/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-Jun-2016, 18:45:15
    Author     : hannah
*/

/* ID */
#topheader {
    background-color: #FFFFFF;
    position: fixed;
}

#topheaderlink {
    /* links in the top header */
    padding-left: 50px;
    font-size: 15px;
}


/* CLASS */
.navbar{
    min-width: 800px;
    min-height: 20px;
}

.navbar-default {
    /* padding in the left and right of top header */
    padding-left: 40px;
    padding-right: 60px;
    background-color: #0C7F3F;
}

.navbar-default .navbar-brand {
    /* Brand (aka app name) in the top header */
    font-size: 40px;
    font-weight: bold;
    color: #333cff;
    float: center;
    margin-left: auto;
}

.navbar-header {
    /* for the top header buttons to keep right */
    width:100%;
}

.navbar-brand:hover, 
.navbar-brand:focus {
  color: #fff !important;
}

.navbar-brand {
    padding-top: 20px;
}

.navbar-nav {
    padding-top: 10px;
}

.right-side-button {
    /* keeps buttons in top header align to right */
    float:right;
}

.nav {
    padding-top: 5px;
}

.nav>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    /* background of the User dropdown settings */
    background:#fff;
}

.dropdown {
    /* for the User dropdown settings */
    background:#fff;
    border:1px solid #ccc;
    border-radius:4px;
    width:200px;    
}

.dropdown-toggle {
    /*text-align: center;*/
    
}

.dropdown-menu>li>a {
    /* color inside the User dropdown */
    color:#428bca;
}

.dropdown ul.dropdown-menu {
    /* for the inside of the User dropdown */
    border-radius:4px;
    box-shadow:none;
    margin-top:12px;
    width:200px;
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}

.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}


/* TAGS */
body {
    width: 100%;
    background-color: #3A3A3A;
    padding-top: 80px;
}